nltk
urllib3==1.26.12
numpy==1.23.1
pandas==1.4.3
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
mysql-connector-python==8.0.30
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl